<!DOCTYPE html>
<html>

<head>
  {{> header}}
  <title>Page not found</title>
</head>

<body>
  <nav>{{> topNavbar}}</nav>
  <div class="content fade-in">
    <h1>{{text}}</h1>
    <h2 class="text-center error">{{message}}</h2>
  </div>

</body>
{{> footer}}

</html>