<!DOCTYPE html>
<html>

<head>
  {{> header}}
  <title>About Page</title>
</head>

<body>
  {{> topNavbar}}

  <div class="content fade-in">
    <h1 class="text-center">About</h1>
    <h2 class="text-center">{{message}}</h2>
    <h2>{{text}}</h2>
  </div>
</body>
{{> footer}}

</html>