<!DOCTYPE html>
<html>

<head>
  {{> header}}
  <title>Contact Me</title>
</head>

<body>
  {{> topNavbar}}
  <div class="content">
    <!-- Your content for the Contact Me page -->
    <h1>Submit Contact</h1>

    <p>{{data}}</p>
  </div>
</body>

{{> footer}}

</html>